# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
.code-workspace

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# SQLite databases or app files
*.db
*.sqlite3

# VS build files (se estiver no Windows)
*.obj
*.exe
*.dll
*.pdb
*.lib
*.vs/

# Arquivos de entrada temporários
*.tmp
*.bak
*.swp
*~

# Arquivos específicos do sistema WSL/Windows/Linux
*.wslg
*.sublime-project
*.sublime-workspace

# Arquivos ocultos do IPython e colab
*.ipynb_checkpoints
.ipynb_checkpoints/
.history

# Arquivos do DVC
.dvc/

# Arquivos do sistema operacional
.Trashes
.Spotlight-V100